p{
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
}

thead{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
   
}
td{
    border: 1px solid black;
    
}
ol{
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
}

ul{
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
}

h1{
    margin-left: 50px;
    margin-right: 50px;
}
h2{
    margin-left: 50px;
    margin-right: 50px;
}
table{
    margin-left: 50px;
    margin-right: 50px;
}